---
import type { Props } from '@astrojs/starlight/props'
import MultiSidebar from './Sidebar.svelte'
import MobileMenuFooter from './MobileMenuFooter.astro'
---

<MultiSidebar sidebar={Astro.props.sidebar} client:load />
<div class="md:sl-hidden">
	<MobileMenuFooter {...Astro.props} />
</div>
