---
import "../styles/app.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Threlte</title>
  </head>
  <body class="m-0 bg-[#0a0f19] text-white">
    <slot />
  </body>
</html>
